.review_main {
  min-height: 100vh;
  height: 100%;
  margin-left: 120px;
}

.review_header {
  min-width: 91.65vw;
}

.print_btn_holder {
  display: flex;
  justify-content: center;
}

.print_btn {
  display: inline-block;
  cursor: pointer;
}

.spreadsheet_main {
  border: 2px solid grey;
  margin-bottom: 5%;
}

.ex_map {
  display: flex;
  justify-content: space-between;
}

.ex_map p,
.ex_income_map p {
  border: 1px solid grey;
  padding: 1%;
  width: 50%;
}

.financial_spreadsheet {
  margin: 2%;
  border: solid 3px #000;
}

.financial_spreadsheet h1 {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 3px;
  padding: 1% 0;
  background-color: rgb(127, 150, 177);
}

.spreadsheet_sub {
  border: 2px solid grey;
}

.ex_income_map {
  display: flex;
  justify-content: space-between;
  margin: 0.5% 0;
}

.ex_map p:nth-of-type(2):hover,
.ex_income_map p:nth-of-type(2):hover,
.review_total:hover {
  color: #008000;
}

.ex_map p:nth-of-type(1),
.ex_income_map p:nth-of-type(1) {
  font-weight: bold;
}

.review_total {
  text-align: end;
  padding: 1%;
  font-size: 1.2em;
  background-color: rgb(156, 160, 157);
}

.ex_map:nth-of-type(2n-1),
.ex_income_map:nth-of-type(2n-1) {
  background-color: rgb(221, 221, 221);
}

@media (max-width: 900px) {
  .review_main {
    margin-left: 0;
    min-width: 100vw;
  }
}
