.Expenses_expenselist {
  display: flex;
  /* padding: 0.25%; */
  margin: 0 auto;
}

.expense_input_btn {
  display: inline-block;
  box-shadow: 1px 1px 5px grey;
  background-color: rgb(245, 245, 245);
  padding: 0.5em;
  border-radius: 10%;
  margin: 3% 0;
}

.Expenses_expenselist {
  width: 100%;
  margin: 0.25% 0.5%;
  height: 100%;
}

.Expenses_list_content {
  width: 95%;
  margin: 5% 2%;
  height: 100%;
  padding: 0.5%;
}

.expenses_container {
  width: 95%;
}

.expenses_container {
  width: 100%;
}
