.income_sub {
    display: flex;
}

.income {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px grey;
    padding: .5em;
    border-radius: 10%;
    margin: 3% 0;
}

.income h1 {
    cursor: pointer;
}

.income_btn {
    text-align: center;
}