.income_sub {
  display: flex;
}

.income_container {
  width: 100%;
}

.income {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.income_input_btn {
  display: inline-block;
  box-shadow: 1px 1px 5px grey;
  background-color: rgb(245, 245, 245);
  padding: 0.5em;
  border-radius: 10%;
  margin: 3% 0;
}

.income_display {
  width: 95%;
  margin: 5% 2%;
  height: 100%;
  border: 1px solid black;
}

.income_display h2 {
  font-weight: bolder;
  letter-spacing: 2px;
  width: 100%;
  padding: 0.5%;
}

.income_display > div {
  display: flex;
  justify-content: space-around
}

.income_container {
  width: 100%;
}

.income_map {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
}

.income_map_name {
  width: 100%;
}

.income_map p {
  width: 100%;
  padding: 0.5%;
}

.income_modal {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.income_modal h2 {
  font-weight: 800;
}

.income_modal p {
  padding: 1%;
}

.income_modal input {
  width: 100%;
  margin: 1%;
}

.income_btn {
  text-align: center;
  margin-top: 10%;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.98);
}

.income_del {
  margin: 0.5%;
  border: 1px solid black;
  border-radius: 10%;
  padding: 0.2%;
}

.income_del:hover {
  background-color: rgb(167, 110, 110);
  transition: .5s;
  transform: scale(1);
}
