.income_sub {
    display: flex;
}

.income {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px grey;
    padding: .5em;
    border-radius: 10%;
    margin: 3% 0;
}

.income h1 {
    cursor: pointer;
}

.income_modal {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.income_modal h2 {
    font-weight: 800;
}

.income_modal p {
    padding: 1%;
}

.income_modal input {
    width: 100%;
    margin: 1%;
}

.income_btn {
    text-align: center;
    cursor: pointer;
    margin-top: 10%;
    width: 100%;
}

.income_btn:hover {
    transform: scale(1.02);
}

.income_btn:active {
    transform: scale(.98)
}

.income_map {
    display: flex;
}

.income_map p {
    padding: 1%;
}

.income_display h2{
    font-weight: 900;
    letter-spacing: 2px;
}

