.navbar {
    width: 5%;
    background-color: rgb(54, 54, 54);
    height: 100vh;
    transition: .5s ease-out;
}

.link {
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.navbar:hover {
    width: 10%;
}

.navbar h2 {
    margin: 10% 0;
}