.navbar {
  width: 80px;
  background-color: rgb(54, 54, 54);
  height: 100vh;
  max-height: 1000px;
  transition: 0.5s ease-out;
  position: fixed;
  z-index: 9;
}

.link {
  text-decoration: none;
  color: rgb(228, 228, 228);
}

.navbar_logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 28, 28);
}

.navbar_sub {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20% 0;
}

.navbar_logo {
  padding: 5%;
  width: 60px;
}

.navbar_icon {
  width: 40px;
}

.navbar h2 {
  padding: 10%;
}

.navbar h1 {
  padding: 10%;
}

.ham_container {
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  top: 1%;
  left: 1%;
}

.hamburger {
  width: 30px;
  display: none;
  animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 900px) {
  .navbar {
    width: 0%;
  }

  .navbar img {
    display: block;
  }

  .navbar_sub {
    display: none;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
