.navbar_main {
  width: 120px;
  background-color: #000;
  height: 100%;
  max-height: 1000px;
  transition: 0.5s ease-out;
  position: fixed;
  z-index: 9;
}

.navbar_main_hidden {
  width: 80px;
  background-image: linear-gradient(#000, #303030, #000);
  height: 100%;
  max-height: 1000px;
  transition: 0.5s ease-out;
  position: fixed;
  z-index: 9;
  opacity: 0.9;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.link {
  text-decoration: none;
  color: #e4e4e4;
  display: inline-block;
}

.link:hover {
  color: #0bc8b3;
}

.navbar_logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 20vh;
  border-bottom: 4px solid #0bc8b3;
  position: relative;
}



.navbar_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20% 0;
  height: 50vh;
}

.navbar_logo {
  padding: 5%;
  width: 80px;
}

.navbar_holder {
  width: 30px;
  height: 30px;
}

.navbar_icon {
  width: 100%;
  height: 100%;
}
.navbar_holder:hover .navbar_icon {
  display: none;
}

.navbar_holder:hover .navbar_icon1 {
  display: block;
}

.navbar_holder:active {
  transform: scale(0.98);
}

.navbar_icon1 {
  width: 30px;
  display: none;
}

.navbar h2 {
  padding: 10%;
}

.navbar h1 {
  padding: 10%;
}

.income_input_btn {
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
}

.income_input_btn:hover {
  color: #0bc8b3;
  cursor: pointer;
}

.income_input_btn2 {
  display: inline-block;
  color: #fff;
  font-size: 3em;
  display: none;
}

.hamburger {
  width: 40px;
  margin-left: 20px;
  margin-top: 15px;
  display: none;
  animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  cursor: pointer;
}

.modal_container {
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.modal_top {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.modal_top h2 {
  padding: 3% 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.modal_top h2:active {
  transform: scale(0.99);
}

.modal_top h2:nth-of-type(1) {
  border-right: 1px solid rgb(202, 202, 202);
}

input:focus {
  outline: none;
}

.income_sub1 {
  display: flex;
}

.navbar_x {
  position: absolute;
  top: -135px;
  left: 85px;
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 30px;
  width: 30px;
}

.x_divnav {
  width: 30px;
  height: 3px;
  border-radius: 15%;
  background-color: #fff;
  position: absolute;
}

.navbar_x:hover .x1 {
  transform: rotate(51deg);
}

.navbar_x:hover .x2 {
  transform: rotate(130deg);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .navbar {
    width: 0%;
  }

  .navbar_main {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .dash_top2 {
    margin: 2% 0;
  }

  .dashboard_expense {
    margin-bottom: 3% !important;
  }

  .income_input_btn {
    display: none;
  }

  .income_input_btn2 {
    display: block;
  }
}

@media (max-width: 700px) {
  .goals h2 {
    font-size: 1.5em !important;
  }

  .goals p {
    font-size: 0.8em;
    margin: 2% 0;
  }
}

@media (max-width: 550px) {
  .goals h2 {
    font-size: 1.2em !important;
  }

  .goals p {
    font-size: 0.6em;
  }
}
