.dashboard {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding-left: 80px;
  background-color: rgb(247, 247, 247);
  animation: downFade 1.5s;
}

.dashboard_top {
  display: flex;
}

.dashboard_expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 5px grey;
  margin: 1%;
  padding: 1%;
  position: relative;
}

.dashboard_expense h2 {
  font-size: 1.2em;
}

.dashboard_expense:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.dashboard_expense > div {
  width: 90%;
  margin-bottom: 3%;
}

.dash_map {
  display: flex;
  justify-content: space-between;
  padding: 1% 1% 1% 0;
}

.dash_map2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1% 1% 1% 0;
  width: 93%;
}

.dash_map_icon {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(190, 190, 190);
}

.dash_map_icon:hover {
  opacity: .8;
}


.dash_map_icon img {
  width: 20px;
  height: 20px;
}

.expenses_link {
  color: rgb(56, 56, 56);
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 1%;
  position: absolute;
  bottom: 5%;
  right: 1%;
  display: inline-block;
  width: 100px;
}

.link2 {
  text-decoration: none;
  color: #000;
  align-self: flex-end;
  margin: 2% 5% 0 0;
}

div.react-switch-bg {
  background: #d12012 !important;
}

.dash_switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;

}

.dash_switch > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dash_switch > div:nth-child(2n) {
  margin-top: 1%;
  color: white;
}
/* ------------ */

.checkbox_container {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1%;
}

.check_main {
  background-color: grey;
  position: absolute;
  width: 3px;
  border-radius: 10%;
  margin-top: 10%;
}

.c_left {
  height: 12px;
  transform: rotate(135deg) translate(3px, 3px);
}

.c_right {
  height: 25px;
  transform: rotate(43deg) translate(2.5px, -9px);
}

.checkbox_container:hover .check_main {
  background-color: rgb(0, 128, 0);
}

.checkbox_container:active {
  transform: scale(0.98);
}

.dash_bottom {
  display: flex;
  width: 100%;
}

.dash_options {
  border: none;
  background-color: #fff;
  margin: 0 2%;
  color: rgb(18, 68, 53);
  box-shadow: 1px 1px 5px rgb(223, 223, 223);
  font-size: 2em;
}


.dash_options:focus {
  outline: none;
}

.dash_top2, .dash_bottom2 {
  display: none;
}

.dashboard header {
  background-color: #0BC8B3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash_modal {
  display: none;
  position: absolute;
  top: 1%;
  right: 2%;
}

@media (max-width: 900px) {
  .dashboard {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .dashboard_top, .dash_bottom  {
    display: none;
  }

  .dash_top2 {
    display: flex;
    justify-content: center;
  }

  .income_container {
    width: 52%;
  }

  .chart {
    padding: 2%;
    width: 32%;
  }


  .dash_bottom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .dashboard_expense, .linechart_cont {
    width: 90%;
  }

  .dash_modal {
    display: block;
  }

}

@media (max-width: 720px) {
  .dashboard_expense > div {

    margin-bottom: 7%;
  }
}
