.goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  background-color: #fff;
  box-shadow: 1px 1px 5px grey;
  margin: 1%;
  padding: 1%;
  animation: downFade 1.5s;
}

.goals h2:nth-of-type(1n) {
  font-size: 2em;
  letter-spacing: 3px;
}